* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header CSS */
li, a {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #2F323A;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signatur img {
    padding: 5px 0 0 20px;
    cursor: pointer;
    width: 200px;
    height: 65px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #ff7675;
}
/* Slut på header CSS */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

body {
    background-color: #ff7675;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    display: flex;
    padding-top: 80px;
    text-align: center;
}

.image {
    background-color: white;
    margin: 100px 50px 20px 20px;
    border: 2px solid #2F323A;
    float: left;
    width: 25%;
    padding: 5px;
    text-align: center;
}