* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header CSS */
li, a {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #2d3436;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signatur img {
    padding: 5px 0 0 20px;
    cursor: pointer;
    width: 200px;
    height: 65px;
}

.sidenav {
    height: 100%;
    width: 200px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2F323A;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a:hover {
    color: #ff7675;
}
  
.main {
    margin-left: 200px;
    padding: 10px;
}

.undersida-nav li {
    width: 100%;
}

.main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}