body {
    background-color: orange;
}

h1 {
    color:black;
    font-size: 30px;
    background-color:lightgray;
    padding: 20px;
    border: 1px solid black;
    margin: 1% 23% 0% 23%;
}

h3 {
    color:black;
    font-size: 30px;
    background-color:lightgray;
    padding: 20px;
    border: 1px solid black;
    margin: 1% 23% 0% 23%;
}

article {
    margin: 1% 25% 0% 25%;
    background-color:lightgray;
    padding: 15px;
    border: 1px solid black;
}